<?xml version="1.0" encoding="utf-8"?>
<artifact-configuration xmlns="http://signpath.io/artifact-configuration/v1">
  <zip-file>
    <directory path="win-unpacked">
      <pe-file-set>
        <include path="**/*.exe" max-matches="unbounded" />
        <include path="**/*.dll" max-matches="unbounded" />
        <include path="**/*.node" max-matches="unbounded" />
        <for-each>
          <authenticode-sign />
        </for-each>
      </pe-file-set>
    </directory>
  </zip-file>
</artifact-configuration>
